# =========================
# WANSoft Database
# =========================
WANSOFT_DB_HOST=your_host
WANSOFT_DB_PORT=3306
WANSOFT_DB_USER=your_wansoft_user
WANSOFT_DB_PASSWORD=your_wansoft_password
WANSOFT_DB_NAME=wansoft_database_name

# =========================
# Zenput Database
# =========================
ZENPUT_DB_HOST=your_host
ZENPUT_DB_PORT=3306
ZENPUT_DB_USER=your_zenput_user
ZENPUT_DB_PASSWORD=your_zenput_password
ZENPUT_DB_NAME=zenput_database_name