# =========================
# WANSoft Database
# =========================
WANSOFT_DB_HOST=your_host
WANSOFT_DB_PORT=3306
WANSOFT_DB_USER=your_wansoft_user
WANSOFT_DB_PASSWORD=your_wansoft_password
WANSOFT_DB_NAME=wansoft_database_name

# =========================
# Zenput Database
# =========================
ZENPUT_DB_HOST=your_host
ZENPUT_DB_PORT=3306
ZENPUT_DB_USER=your_zenput_user
ZENPUT_DB_PASSWORD=your_zenput_password
ZENPUT_DB_NAME=zenput_database_name

# =========================
# Analysis Scope (Single Branch)
# =========================

ANALYSIS_WANSOFT_SUBSIDIARY_ID=6174
ANALYSIS_WANSOFT_BRANCH_NAME="Fonda Argentina - Playa del Carmen" #obtenido de subsidiary_name de getglobalcashclosing
ANALYSIS_START_DATE="2025-01-01"
ANALYSIS_END_DATE="2026-12-31"
ANALYSIS_BRANCH_KEYWORD="Playa"

# =========================
# Zenput Scope (Tasks)
# =========================
ANALYSIS_ZENPUT_ACCOUNT_NAME="Fonda Argentina Playa"
ANALYSIS_ZENPUT_ACCOUNT_KEYWORD="Playa"
